@import '../../app.scss';

.hero {
  height: 100%;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  position: relative;
  padding-top: 50px;

  @include dekstop {
    padding-inline: 30px;
  }

  @include tablet {
    padding-inline: 30px;
  }

  @include mobile-L {
    padding-inline: 30px;
    padding-top: 70px;
  }

  .wrapper {
    max-width: 1166px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    @include mobile-L {
      flex-direction: column;
      align-items: center;
    }

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include tablet {
        gap: 30px;
      }

      @include mobile-L {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;

        @include tablet {
          font-size: 20px;
        }

        @include mobile-L {
          font-size: 16px;
        }

        @include mobile-S {
          letter-spacing: 6px;
        }
      }

      h1 {
        font-size: 60px;

        @include tablet {
          font-size: 34px;
        }

        @include mobile-M {
          font-size: 24px;
        }
      }

      .buttons {
        z-index: 9;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        @include mobile-S {
          gap: 10px;
        }

        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          cursor: pointer;
          font-weight: 300;

          @include tablet {
            padding: 10px;
          }
        }
      }

      img {
        width: 50px;

        @include mobile-L {
          z-index: 999;
          position: absolute;
          bottom: 20px;
          right: 0px;
        }

        @include mobile-M {
          width: 40px;
        }

        @include mobile-S {
          bottom: 220px;
          left: 30px;
        }
      }
    }
  }

  .imageContainer {
    z-index: 9;
    height: 100%;

    @include tablet {
      height: 90%;
    }

    @include mobile-L {
      height: 60%;
    }

    @include mobile-S {
      height: 50%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
