@import '../../app.scss';

.contact {
  max-width: 1166px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include tablet {
    padding-top: 8%;
    padding-inline: 30px;
  }

  @include mobile-L {
    width: 100%;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile-L {
      gap: 30px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h1 {
      font-size: 90px;
      line-height: 80px;

      @include tablet {
        font-size: 60px;
        line-height: 50px;
      }

      @include mobile-L {
        font-size: 50px;
        line-height: 40px;
      }

      @include mobile-M {
        font-size: 32px;
        line-height: 26px;
      }
    }

    .item {

      h2 {
        @include mobile-M {
          font-size: 20px;
    
        }
      }
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile-L {
      width: 100%;
    }
   
    .phoneSvg {
      position: absolute;
      stroke: orange;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      svg {

        @include tablet {
          width: 320px;
          height: 320px;
        }

        @include mobile-M {
          width: 265px;
          height: 265px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include mobile-L {
        margin-bottom: 15px;
      } 

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        @include tablet {
          padding: 10px;
        }
      }

      input:hover,
      textarea:hover {
        box-shadow: orange 0px 0px 20px;
        border: 1px solid orange;
      }

      input:focus,
      textarea:focus {
        outline: none;
        border: 1px solid orange;
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 3px orange;
        animation: shadows 3s infinite;

        @include tablet {
          padding: 15px;
        }

        @include mobile-M {
          padding: 10px;
          
        }
      }

      @keyframes shadows {
        50% {
          text-shadow: transparent 0 0 10px;
          box-shadow: 0px 0px 20px 10px transparent;
        }
      }

      .failMessage {
        color: rgb(253, 32, 32);
      }

      .successMessage {
        color: rgb(100, 252, 138);
      }
    }
  }
}
