@import '../../app.scss';

.contact {
  height: 100%;
  max-width: 1166px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }


  @include middle {
    padding-top: 8%;
    padding-inline: 30px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 30px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }


    h1 {
      font-size: 90px;
      line-height: 80px;

      @include mobile {
        font-size: 50px;
        line-height: 40px;
      }

      @include middle {
        font-size: 60px;
        line-height: 50px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      padding-inline: 50px;
      width: 100%;
    }

    .phoneSvg {
      position: absolute;
      stroke: orange;
      margin: auto;
      z-index: -1;

      svg {
        // @include mobile {
        //   width: 265px;
        //   height: 265px;
        // }

        @include tablet {
          width: 320px;
          height: 320px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        // @include mobile {
        //   padding: 10px;
        // }

        @include tablet {
          padding: 10px;
        }
      }

      input:hover,
      textarea:hover {
        box-shadow: orange 0px 0px 20px;
        border: 1px solid orange;
      }

      input:focus,
      textarea:focus {
        outline: none;
        border: 1px solid orange;
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 3px orange;
        animation: shadows 3s infinite;

        @include tablet {
          padding: 15px;
        }
      }

      @keyframes shadows {
        50% {
          text-shadow: transparent 0 0 10px;
          box-shadow: 0px 0px 20px 10px transparent;
        }
      }
    }
  }
}
